---
import Layout from "../layouts/Layout.astro";
import Article from "../components/articleCard.astro";
const allArticles = await Astro.glob("../pages/articles/*.md");
---

<Layout title="Articles">
  <div class="mt-12 px-4 sm:px-8 mx-auto max-w-7xl space-y-28">
    <header class="mx-auto max-w-2xl lg:max-w-none">
      <div class="max-w-2xl" style="opacity: 1; transform: none;">
        <h2>
          <span class="sr-only"> -</span><span
            class="block font-display tracking-tight [text-wrap:balance] text-4xl font-semibold text-neutral-950 dark:text-neutral-100"
            >Writing on software, lifestyle and financial Technology</span
          >
        </h2><div
          class="mt-6 text-base sm:text-lg text-neutral-600 dark:text-neutral-400"
        >
          <p>
            Welcome to my space where web development, lifestyle, and fintech
            converge. Dive into concise articles crafted with passion and
            personality. Whether you're coding, seeking lifestyle insights, or
            navigating fintech trends, find curated content for the curious
            mind.
          </p>
        </div>
      </div>
    </header>

    <div class="mt-16 sm:mt-20">
      <div
        class="md:border-l md:border-neutral-200 md:pl-6 md:dark:border-neutral-600/40"
      >
        <div class="flex max-w-3xl flex-col gap-y-16">
          {
            allArticles.flatMap((article) =>
              article.frontmatter.published ? (
                <Article
                  headline={article.frontmatter.headline}
                  introduction={article.frontmatter.introduction}
                  publishedDate={article.frontmatter.publishedDate}
                />
              ) : (
                []
              )
            )
          }
        </div>
      </div>
    </div>
  </div>
</Layout>
