---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Omar's Portfolio">
  <main>
    <header
      class="px-4 sm:px-8 my-10 sm:my-6 space-y-6 selection:text-white selection:bg-primary-black-base dark:selection:text-black dark:selection:bg-white/80"
    >
      <div>
        <h1
          class="text-primary-black-base xl:w-3/4 dark:text-white font-semibold text-4xl lg:text-7xl leading-snug md:leading-normal"
        >
          Full Stack Web Developer & API Integration Specialist
        </h1>
      </div>
      <div>
        <p
          class="dark:text-primary-gray-200 text-primary-black-base md:w-2/3 text-base md:text-lg leading-8"
        >
          Hello World! I'm Omar, a seasoned full-stack developer with 4 years of
          experience in web enchantment. I'm fluent in HTML, CSS, JavaScript,
          and PHP, and I boast some serious dance moves with financial APIs.
        </p>
      </div>
    </header>
  </main>
</Layout>
