--- 

const {hasTitle = true , title = "button", class: ClassName = "text-white", onClick } = Astro.props;
--- 


<button x-on:click=`${onClick}` class:list=`${ClassName} capitalize`>

     {hasTitle && <p>{title}</p>}

    <slot>

    </slot>

</button>

