---
const {
  hasTitle = true,
  title = "button",
  ariaLabel = "button",
  role = "button",
  class: ClassName = "text-white",
  "@click": click,
} = Astro.props;
---

<button
  aria-label={ariaLabel}
  @click={click}
  class:list=`${ClassName} capitalize`
>
  {hasTitle && <p>{title}</p>}

  <slot />
</button>
