---
const {
  hasTitle = true,
  title = "button",
  class: ClassName = "text-white",
  "@click": click,
} = Astro.props;
---

<button @click={click} class:list=`${ClassName} capitalize` type="button">
  {hasTitle && <p>{title}</p>}

  <slot />
</button>
