---

---

<footer class="mt-32 flex-none">
  <div
    class="border-t pb-16 pt-10 border-primary-gray-600 dark:border-primary-gray-400/2"
  >
    <div class="relative">
      <div class="px-4 sm:px-8">
        <div
          class="flex flex-col items-center justify-between gap-6 sm:flex-row"
        >
          <div
            class="flex flex-wrap justify-center gap-x-6 gap-y-1 text-sm font-medium text-zinc-800 dark:text-zinc-200"
          >
            <a
              class="transition text-primary-black-base dark:text-white duration-100 md:hover:text-primary-gray-300"
              href="/about">About</a
            ><a
              class="transition text-primary-black-base dark:text-white duration-100 md:hover:text-primary-gray-300"
              href="/articles">Articles</a
            ><a
              class="transition text-primary-black-base dark:text-white duration-100 md:hover:text-primary-gray-300"
              href="/projects">Projects</a
            ><a
              class="transition text-primary-black-base dark:text-white duration-100 md:hover:text-primary-gray-300"
              href="/contact">Contact</a
            >
          </div><p
            class="text-sm text-primary-gray-300 dark:text-gray-primary-300"
          >
            ©<script in:line>
              document.write(new Date().getFullYear());
            </script><!-- --> Omar Jaff. All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
