---

import Logo from "./Logo.astro";
import Menu from "./Menu.astro";
import Button from "./Button.astro";

---

<div class="text-white flex justify-between px-4 mt-4 items-center">
    
    <div>
        <Logo class="text-white w-[80px]"></Logo>
    </div>

    <div class="flex gap-4">
        <div>
            <Menu></Menu>
        </div>
        <div>
            <Button />
        </div>
    </div>
</div>