---
const { class: className } = Astro.props;
---

<a href="/">
  <div class=`${className} flex gap-0.5 items-baseline`>
    <p class="text-2xl lg:text-3xl font-extrabold">Omar</p>
    <p class="text-[8px] font-bold">Jaff</p>
  </div>
</a>
