---
import Button from "./Button.astro";
const { class: className } = Astro.props;
---

<nav class=`${className} hidden md:flex  rounded-full backdrop-blur`>
  <ul class="flex">
    <slot />
  </ul>
</nav>

<!-- Modal -->
<div
  x-show="open"
  style="display: none"
  x-on:keydown.escape.prevent.stop="open = false"
  role="dialog"
  aria-modal="true"
  x-id="['modal-title']"
  :aria-labelledby="$id('modal-title')"
  class=`fixed inset-0 z-10 overflow-y-auto md:hidden`
>
  <!-- Overlay -->
  <div
    x-show="open"
    x-transition.opacity
    class="fixed inset-0 backdrop-blur-sm dark:bg-black/80 opacity-100"
  >
  </div>

  <!-- Panel -->
  <div
    x-show="open"
    x-transition
    x-on:click="open = false"
    class="relative flex min-h-screen items-start justify-center p-6"
  >
    <div
      x-on:click.stop
      x-trap.noscroll.inert="open"
      class=`${className} relative w-full max-w-2xl overflow-y-auto rounded-3xl p-8 shadow-lg`
    >
      <!-- Title -->
      <div class="flex flex-row-reverse items-center justify-between">
        <Button @click="open = false" hasTitle={false} class="-m-1 p-1">
          <svg viewBox="0 0 24 24" aria-hidden="true" class="h-6 w-6"
            ><path
              d="m17.25 6.75-10.5 10.5M6.75 6.75l10.5 10.5"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path></svg
          >
        </Button>

        <h2 class="text-sm font-medium">Navigation</h2>
      </div>

      <!-- Content -->
      <nav class="mt-6">
        <ul
          class="-my-2 divide-y divide-primary-gray-600 text-base dark:divide-primary-gray-400/5"
        >
          <slot />
        </ul>
      </nav>
    </div>
  </div>
</div>
