---
import Button from "./Button.astro";
import Menu from "./Menu.astro";
import MenuItem from "./MenuItem.astro";

const MenuItems = [
  { title: "About", url: "/about" },
  { title: "Articles", url: "/articles" },
  { title: "Projects", url: "/projects" },
  { title: "Contact Us", url: "/contact" },
];
---

<script>
  import Alpine from "alpinejs";
  import focus from "@alpinejs/focus";

  Alpine.plugin(focus);
</script>

<div x-data="{ open: true }" class="flex justify-center">
  <Button
    @click="open = true"
    title="Menu"
    class="md:hidden rounded-full bg-primary-black-400 px-4 py-2 flex items-center gap-3"
  >
    <svg
      class="h-3 w-3 text-primary-gray-200"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
    </svg>
  </Button>

  <Menu class="bg-primary-black-400 text-white">
    {MenuItems.map((item) => <MenuItem title={item.title} url={item.url} />)}
  </Menu>
</div>
