---
const { platform, username } = Astro.props;
---

<a
  href={`https://www.${platform}.com/${username}`}
  target="_blank"
  class="transition duration-100 hover:text-primary-gray-300"
>
  <slot />
</a>
