---
interface Props {
  title: string;
}

const { title } = Astro.props;
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en" class="font-sans antialiased">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Omar Jaff's Portfolio" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <!-- This controls the logic for changing the dark mode buttons appearance based on the users set preference -->
    <script is:inline>
      // if (
      //   localStorage.theme === "dark" ||
      //   (!("theme" in localStorage) &&
      //     window.matchMedia("(prefers-color-scheme: dark)").matches)
      // ) {
      //   document.documentElement.classList.add("dark");
      //   localStorage.theme = "dark";
      // } else {
      //   document.documentElement.classList.remove("dark");
      //   localStorage.theme = "light";
      // }

      const setDarkMode = () => {
        if (typeof window !== "undefined") {
          const isSystemColorSchemeDark = window.matchMedia(
            "(prefers-color-scheme: dark)"
          ).matches;
          const storageTheme = sessionStorage.getItem("theme");
          if (!storageTheme && isSystemColorSchemeDark) {
            document.documentElement.classList.add("dark");
          } else if (storageTheme === "dark") {
            document.documentElement.classList.add("dark");
          } else {
            // we already server render light theme
            document.documentElement.classList.remove("dark");
            localStorage.theme = "light";
          }
        }
      };

      // Runs on initial navigation
      setDarkMode();

      document.addEventListener("astro:after-swap", setDarkMode);
    </script>
    <ViewTransitions />
  </head>
  <body
    class="pt-8 md:pt-10 bg-primary-white dark:bg-neutral-950 selection:text-white selection:bg-primary-black-base dark:selection:text-black dark:selection:bg-white/80"
  >
    <Header />
    <body>
      <slot />
    </body>
    <Footer />
  </body>
</html>
