---
import Layout from "../layouts/Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <div class="px-4 sm:px-8 my-10 space-y-20 dark:text-white">
    <h1>{frontmatter.title}</h1>
    <p>Written by {frontmatter.description}</p>
    <slot />
  </div>
</Layout>
